@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

$orange: #D87D4A;
$black: #101010;
$white: #f1f1f1;
$orange-hovered: #FBAF85;
$fullwhite: #fff;
$fullblack: #000;

$font-manrope: 'Manrope', sans-serif; 
